$citRed: #ED1941;
$btnTextColor: white;
h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    color: $citRed;
    text-align: center;
    padding: 20px;
}

.error-info {
    border: 2px solid $citRed;
    margin: 0 auto;
    width: 80%;
}

p {
    text-align: center;
    padding: 10px;
    border: 1px solid #F1F1F1;
}

button {
    background-color: $citRed;
    color: $btnTextColor;
    font-size: 12px;
    width: 50%;
    outline: none;
    border: none;
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;

    display: block;

    &:hover {
      background-color:#BF0C2E;
    }

  }
