<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="Digite seu email"
      autocomplete="off"
      formControlName="email"
    />
  </div>

  <div>
    <label for="password">Senha</label>
    <input
      type="password"
      id="password"
      placeholder="Digite sua senha"
      autocomplete="off"
      formControlName="password"
    />
  </div>

  <div>
    <button
      type="submit"
      routerLink="error-central"
      [disabled]="!loginForm.valid"
    >
      Faça o Login
    </button>
  </div>

  <div>
    <p>Não possui cadastro?</p>
    <button routerLink="/register">Cadastre-se</button>
  </div>

</form>
