
<table class="error-table">
  <caption>Central de Erros</caption>
  <thead>
      <th>NÍVEL</th>
      <th>DESCRIÇÃO</th>
      <th>ORIGEM</th>
  </thead>
  <tbody *ngIf="errors">
    <tr *ngFor="let error of errors">
      <td>{{ error.level }}</td>
      <td>{{ error.description }}</td>
      <td>{{ error.origin }}</td>
      <button [routerLink]="['/error-central', error.id]">INFO</button>
    </tr>
  </tbody>
  <tfoot>
    <button routerLink="/register">Cadastrar Novo Usuário</button>
    <button routerLink="/">Sair</button>
  </tfoot>
</table>
