<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">Nome</label>
    <input
      type="name"
      id="name"
      placeholder="Digite seu name"
      autocomplete="off"
      formControlName="name"
    />
  </div>

  <div>
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="Digite seu email"
      autocomplete="off"
      formControlName="email"
    />
  </div>

  <div>
    <label for="password">Senha</label>
    <input
      type="password"
      id="password"
      placeholder="Digite sua senha"
      autocomplete="off"
      formControlName="password"
    />
  </div>

  <div>
    <button
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Cadastrar
    </button>
  </div>

  <button routerLink="/">Voltar pro início!</button>

  <p *ngIf="successMessage">{{ successMessage }}</p>

</form>
